body {
  background-image: url('../images/Blue\ Background\ GIF\ by\ Maytronics.gif');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

img {
  width: 20%;
  height: auto;
  margin-bottom: 2em;
}

.log-button {
  width: 130px;
  height: 35px;
  border-radius: 150px;
  background-color: #00bfbf;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(128, 128, 128, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
  color: #006e6e;
  text-decoration: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.log-button:hover {
  transform: scale(1.1);
}

.new {
  margin-top: 1em;
}

a:active {
  color: #006e6e;
}